<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Einstellungen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<nav class="navbar">
    <div class="logo">Delta-Taupunktlüftung</div>
    <div>
        <a href="/index">Übersicht</a>
        <a href="/sensoren">Sensoren</a>
        <a href="/verbindung">Verbindung</a>
        <a href="/einstellungen" class="active">Einstellungen</a>
        <a href=/logout>Logout</a>
    </div>
</nav>

<div class="container">
    <section class="card">
        <h2>Einstellungen</h2>
        <p>Hier können später Parameter angepasst werden.</p>
    </section>
</div>

<footer>© 2025 Delta-Taupunktlüftung</footer>
</body>
</html>
