<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delta-Taupunktlüftung – Übersicht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="navbar">
        <div class="logo">Delta-Taupunktlüftung</div>
        <div>
            <a href="index.html">Übersicht</a>
            <a href="sensoren.html">Sensoren</a>
            <a href="verbindung.html">Verbindung</a>
            <a href="einstellungen.html">Einstellungen</a>
            <a href=/login>Logout</a>
        </div>
    </nav>

    <div class="container">
        <section>
            <h2>Systemübersicht</h2>
            <p>Live-Status und Übersicht der wichtigsten Daten.</p>

            <div class="gauge">
                <div id="gauge_number" class="gauge-value">--%</div>
            </div>

            <p class="center">Taupunkt-Effizienz</p>
        </section>
    </div>

    <footer>&copy; 2025 Delta-Taupunktlüftung Julian Müller und Mattis Westerhoff</footer>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>