<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensorwerte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">Delta-Taupunktlüftung</div>
    <div>
        <a href="/index">Übersicht</a>
        <a href="/sensoren" class="active">Sensoren</a>
        <a href="/verbindung">Verbindung</a>
        <a href="/einstellungen">Einstellungen</a>
        <a href=/logout>Logout</a>
    </div>
</nav>

<div class="container">
    <section class="card">
        <h2>Sensorwerte</h2>
        <ul>
            <li>Temperatur Innen: <span id="temp_innen">--</span> °C</li>
            <li>Temperatur Außen: <span id="temp_aussen">--</span> °C</li>
            <li>Feuchtigkeit Innen: <span id="hum_innen">--</span> %</li>
            <li>Feuchtigkeit Außen: <span id="hum_aussen">--</span> %</li>
        </ul>
    </section>
</div>

<footer>© 2025 Delta-Taupunktlüftung</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
